@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
}

header{
    height: 170px;
    background-color: #9BABB8;
}

.logo{
    height: 170px;
}

.contenedor-logo{
    display: flex;
    justify-content: center;
}

.titulo-principal{
    text-align: center;
    margin-top: .7em;
    font-size: 2.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card{
    border: 2px solid grey;
    border-radius: 7px;
    max-width: fit-content;
    background-color: #F7FFE5;
    overflow: hidden;
}

.img-card{
    width: 17em;
    height: 17em;
    object-fit: contain;
}

.info{
    display: flex;
    flex-direction: column;
    gap: .7em;
    margin-left: 5px;
}

.nombre{
    text-align: center;
}

.precio{
    font-size: 18px; 
    color: #333; 
    font-weight: bold; 
    margin-left: 5px;
}

.agregar{
    align-self: center;
    padding: .6em 3em;
    margin-bottom: 3px;
    cursor: pointer;
}

#section-cards{
    margin: 0 1em;
}

#carrito{
    margin: 0 1em;
}

#titulo-carrito {
text-align: center;
margin-top: 1em;
font-size: 3rem;
}

#parrafo-carrito{
text-align: center;
font-size: 1.5rem;
margin-bottom: 1em;
}

.tarjetas-carrito{
    border: 1px solid red;
    width: min-content;
}

#elementos-carrito{
    display: flex;
    flex-wrap: wrap;
    gap: .9em;
}

.contador{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}

.boton-sumar{
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.boton-sumar:hover {
    background-color: #45a049;
}

.boton-sumar:active {
    background-color: #3e8e41;
}

.boton-restar {
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #FF0000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.boton-restar:hover {
    background-color: #D40000;
}

.boton-restar:active {
    background-color: #a73d3d;
}

.cantidad{
    font-size: 16px;
    margin-bottom: 10px;
}

.carrito-vacio{
    color: #D40000;
    font-size: 2rem;
    margin: auto;
}

.boton-eliminar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #FF0000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width:1180px){
    #elementos-carrito{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: .9em;
    }

    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
    }
}